<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>JSP Example Application</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>TableSearchSocket</servlet-name>
        <servlet-class>server.table.experimental.gui.search.SocketSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TableSearchSocket</servlet-name>
        <url-pattern>/search_socket</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TableSearch</servlet-name>
        <servlet-class>server.table.experimental.gui.search.SearchHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TableSearch</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

</web-app>
